<div class="card bg-light mb-3" style="max-width: 80rem;">
  <div class="card-header"><b>Appointment</b></div>
  <div class="card-body">
    <h4 class="card-title">Id <%=@appointment.id%></h4>
    <p class="card-text"><b>Owner:</b> <%=User.find(@appointment.user_id).email%><br>
    <b>Date:</b>  <%=@appointment.date%></p>
  </div>
</div>

<%=link_to 'Index', appointments_path%> |
<%if current_user.role == 1%>
  <%=link_to 'Edit', edit_appointment_path(@appointment)%> 
        |
<%end%> 
<%= link_to 'Back', appointments_path %>
