<h1>Listing employees</h1>
<br>
<table class="table">
    <thead>
      <tr>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%=user.email %></td>
        <td>
            <%if user.role? %>
                <%= 'Administrator'%>
            <%else%>
                <%= 'Employee'%>
            <%end%>
        </td>
        <td>
          <%=link_to 'Edit', edit_employee_path(user) %> | 
          <%=link_to 'Destroy', delete_employee_path(user), method: :delete_user, data: { confirm: 'Are you sure?' }%>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%=link_to 'New employees user',  new_employee_path%>
